body {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 750px;
  margin: auto;
  padding: 2rem;
  color: #333;
  background: #fff;
}

a {
  color: #005f73;
  text-decoration: none;
}

.social-icons img {
  margin-right: 10px;
  border-radius: 50%;
}
