<!-- Name -->
<h1 class="author-name">Anahita Karandikar</h1>

<!-- Profile Photo -->
{{ with .Site.Params.avatar }}
  <div class="profile-pic">
    <img src="{{ . | relURL }}" alt="Profile picture">
  </div>
{{ end }}

<!-- CV Link -->
<p class="contactinfo">
  <a href="{{ "files/CV.pdf" | relURL }}" target="_blank">CV</a>
</p>

<!-- Section Links -->
<p class="contactinfo"><a href="{{ "#bio" | relURL }}">Bio</a></p>
<p class="contactinfo"><a href="{{ "/research/" | relURL }}">Research</a></p>
<p class="contactinfo"><a href="{{ "/women/" | relURL }}">Women in Econ/Policy</a></p>

