<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        {%- if site.logo -%}
        <img src="{{ site.logo | relative_url }}" alt="Logo" style="width: 180px; border-radius: 4px;">
        {%- endif -%}

        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>

        <!-- Custom block for CV and social links -->
        <div class="sidebar-custom">
          <p><a href="/assets/CV.pdf" target="_blank">CV</a></p>
          <p><a href="mailto:ak234@student.ubc.ca">ak234@student.ubc.ca</a></p>
          <p>
            <a href="https://www.linkedin.com/in/anahita-karandikar" target="_blank">
              <img src="/assets/linkedin.jpg" alt="LinkedIn" style="height: 20px; margin-right: 5px;">
            </a>
            <a href="https://x.com/anahitark" target="_blank">
              <img src="/assets/x.jpg" alt="Twitter" style="height: 20px; margin-right: 5px;">
            </a>
            <a href="https://bsky.app/profile/anahitark" target="_blank">
              <img src="/assets/blusky.jpg" alt="Bluesky" style="height: 20px; margin-right: 5px;">
            </a>
            <a href="https://instagram.com/anahitakarandikar" target="_blank">
              <img src="/assets/instagram.jpg" alt="Instagram" style="height: 20px; margin-right: 5px;">
            </a>
          </p>
        </div>

        <nav>
          <ul>
            {%- for page in site.header_pages -%}
            <li><a href="{{ page.url | relative_url }}">{{ page.title | default: page.name }}</a></li>
            {%- endfor -%}
          </ul>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        <small>&copy; {{ site.author }}</small>
      </footer>
    </div>
  </body>
</html>
